<a class="card-list-item" href="">
  <div class="row">
    <div class="col-md-10">
      <h4>{{card.name}} <small style="padding-left: 10px">{{card.type}}</small></h4>
      <hr style="padding: 0; margin: 0;">
    </div>
    <div class="col-md-2">
    </div>
    <div class="set-image-wrapper">
      <div class="set-image">
        <img ng-src="http://mtgimage.com/symbol/set/{{card.setCode}}/{{rarity()}}/96.png" err-src="http://mtgimage.com/actual/symbol/set/phho/{{rarity()}}/96.png" />
      </div>
    </div>
  </div>
</a>